/* Tailwind CSS styles */
@import "tailwindcss";

@font-face {
  font-family: "sfns";
  src:
    url("../fonts/SFNS-partial.woff2") format("woff2"),
    url("../fonts/SFNS-partial.ttf") format("truetype");
  font-style: normal;
  font-weight: 300 1000;
}

@font-face {
  font-family: "roboto";
  src:
    url("../fonts/Roboto-partial.woff2") format("woff2"),
    url("../fonts/Roboto-partial.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 525px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;

  --spacing: 4px;

  --font-title: "sfns", var(--font-sans);
  --font-subtitle: "roboto", var(--font-sans);

  --color-pink-350: #ED8BC3;
  --color-beige: #FCF7EA;
}

@layer base {
  a {
    @apply inline-block transition-transform delay-100 duration-400 ease-in-out hover:scale-103 hover:-translate-y-px hover:underline hover:text-pink-350 visited:text-pink-700;
  }
}

@utility text-border-* {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: --value(integer)px;
}

@utility border-custom {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='black' stroke-width='2' stroke-dasharray='8%2c4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 8px;
}

@utility bg-stripes {
  background: linear-gradient( 45deg, #FCF7EA 0%, black 0% 2%, #FCF7EA 2% 4%, black 4% 6%, #FCF7EA 6% 8%, black 8% 10%, #FCF7EA 10% 12%, black 12% 14%, #FCF7EA 14% 16%, black 16% 18%, #FCF7EA 18% 20%, black 20% 22%, #FCF7EA 22% 24%, black 24% 26%, #FCF7EA 26% 28%, black 28% 30%, #FCF7EA 30% 32%, black 32% 34%, #FCF7EA 34% 36%, black 36% 38%, #FCF7EA 38% 40%, black 40% 42%, #FCF7EA 42% 44%, black 44% 46%, #FCF7EA 46% 48%, black 48% 50%, #FCF7EA 50% 52%, black 52% 54%, #FCF7EA 54% 56%, black 56% 58%, #FCF7EA 58% 60%, black 60% 62%, #FCF7EA 62% 64%, black 64% 66%, #FCF7EA 66% 68%, black 68% 70%, #FCF7EA 70% 72%, black 72% 74%, #FCF7EA 74% 76%, black 76% 78%, #FCF7EA 78% 80%, black 80% 82%, #FCF7EA 82% 84%, black 84% 86%, #FCF7EA 86% 88%, black 88% 90%, #FCF7EA 90% 92%, black 92% 94%, #FCF7EA 94% 96%, black 96% 98%, #FCF7EA 98% 100%, black 100% 102%, #FCF7EA 100% );
}
