/* Tailwind CSS styles */
@import "tailwindcss";

@font-face {
  font-family: "sfns";
  src:
    url("../fonts/SFNS-partial.woff2") format("woff2"),
    url("../fonts/SFNS-partial.ttf") format("truetype");
  font-style: normal;
  font-weight: 300 1000;
}

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 525px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;

  --spacing: 4px;

  --font-title: "sfns", var(--font-sans);
}

@utility text-border-* {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: --value(integer)px;
}

@utility border-custom {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='black' stroke-width='2' stroke-dasharray='8%2c4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 8px;
}

@utility bg-stripes {
  background: linear-gradient( 45deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 0% 2%, rgba(255, 255, 255, 1) 2% 4%, rgba(0, 0, 0, 1) 4% 6%, rgba(255, 255, 255, 1) 6% 8%, rgba(0, 0, 0, 1) 8% 10%, rgba(255, 255, 255, 1) 10% 12%, rgba(0, 0, 0, 1) 12% 14%, rgba(255, 255, 255, 1) 14% 16%, rgba(0, 0, 0, 1) 16% 18%, rgba(255, 255, 255, 1) 18% 20%, rgba(0, 0, 0, 1) 20% 22%, rgba(255, 255, 255, 1) 22% 24%, rgba(0, 0, 0, 1) 24% 26%, rgba(255, 255, 255, 1) 26% 28%, rgba(0, 0, 0, 1) 28% 30%, rgba(255, 255, 255, 1) 30% 32%, rgba(0, 0, 0, 1) 32% 34%, rgba(255, 255, 255, 1) 34% 36%, rgba(0, 0, 0, 1) 36% 38%, rgba(255, 255, 255, 1) 38% 40%, rgba(0, 0, 0, 1) 40% 42%, rgba(255, 255, 255, 1) 42% 44%, rgba(0, 0, 0, 1) 44% 46%, rgba(255, 255, 255, 1) 46% 48%, rgba(0, 0, 0, 1) 48% 50%, rgba(255, 255, 255, 1) 50% 52%, rgba(0, 0, 0, 1) 52% 54%, rgba(255, 255, 255, 1) 54% 56%, rgba(0, 0, 0, 1) 56% 58%, rgba(255, 255, 255, 1) 58% 60%, rgba(0, 0, 0, 1) 60% 62%, rgba(255, 255, 255, 1) 62% 64%, rgba(0, 0, 0, 1) 64% 66%, rgba(255, 255, 255, 1) 66% 68%, rgba(0, 0, 0, 1) 68% 70%, rgba(255, 255, 255, 1) 70% 72%, rgba(0, 0, 0, 1) 72% 74%, rgba(255, 255, 255, 1) 74% 76%, rgba(0, 0, 0, 1) 76% 78%, rgba(255, 255, 255, 1) 78% 80%, rgba(0, 0, 0, 1) 80% 82%, rgba(255, 255, 255, 1) 82% 84%, rgba(0, 0, 0, 1) 84% 86%, rgba(255, 255, 255, 1) 86% 88%, rgba(0, 0, 0, 1) 88% 90%, rgba(255, 255, 255, 1) 90% 92%, rgba(0, 0, 0, 1) 92% 94%, rgba(255, 255, 255, 1) 94% 96%, rgba(0, 0, 0, 1) 96% 98%, rgba(255, 255, 255, 1) 98% 100%, rgba(0, 0, 0, 1) 100% 102%, rgba(255, 255, 255, 1) 100% );
}
