/* Tailwind CSS styles */
@import "tailwindcss";

@font-face {
  font-family: "sfns";
  src:
    url("../fonts/SFNS-partial.woff2") format("woff2"),
    url("../fonts/SFNS-partial.ttf") format("truetype");
  font-style: normal;
  font-weight: 300 1000;
}

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 525px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;

  --spacing: 4px;

  --font-title: "sfns", var(--font-sans);
}

@utility text-border-* {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: --value(integer)px;
}

@utility border-custom {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='black' stroke-width='2' stroke-dasharray='8%2c4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 8px;
}
